<!-- JavaScript Libraries -->
<script src="/static/lib/jquery/jquery.min.js"></script>
<script src="/static/lib/jquery/jquery-migrate.min.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/staticlib/easing/easing.min.js"></script>
<script src="/static/lib/superfish/hoverIntent.js"></script>
<script src="/static/lib/superfish/superfish.min.js"></script>
<script src="/static/lib/wow/wow.min.js"></script>
<script src="/static/lib/waypoints/waypoints.min.js"></script>
<script src="/static/lib/counterup/counterup.min.js"></script>
<script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/static/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/static/lib/lightbox/js/lightbox.min.js"></script>
<script src="/static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/static/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
