<!--==========================
    Header
  ============================-->
  <header id="header" class="header-scrolled">
      <div class="container-fluid">
  
        <div id="logo" class="pull-left">
          <h1><a href="/app" class="scrollto">SistemIK</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>
  
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-has-children"><a href="">Data</a>
              <ul>
                <li><a href="/app/data/list">List</a></li>
                <li><a href="/app/data/tambah">Tambah</a></li>
              </ul>
            </li>
            <li><a href="/app/klasifikasi">Klasifikasi</a></li>
            <li><a href="/app/testing">Testing</a></li>
            
            <li><a href="#team">Logout</a></li>
            
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->